@import './styles/fonts/fonts.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './renderer/components/components.css';

* {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;   
}